HTML CSS Result Skip Results Iframe EDIT ON .bn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bn {
    display: block;
    width: 30%;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.bn>span {
    position: relative;
    z-index: 2;
}

.bn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #140029;
    transition: all .35s;
}

.bn:hover {
    color: #fff;
}

.bn:hover:after {
    width: 100%;
}